{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}
{% block body %}
    <div>
        <h1>Главная страница</h1>
        <ul>
            <li>Авторизация</li>
            <li><a href="/user/registry">Регистрация</a></li>
        </ul>
    </div>
{% endblock %}
